<div class="card card-xxl-stretch mb-5 mb-xl-8 animate__animated animate__zoomIn" *ngIf="currDiv == 'companies'">
    <!--begin::Header-->
    <div class="card-header align-items-center d-flex border-0 pt-5" style="    margin-left: 1rem;
    margin-top: 1rem;">
        <h3 class="card-title d align-items-center flex-column">
            <span class="card-label fw-bolder fs-3 mb-1"> {{ 'settings.CorporateCommunication' | translate }}</span>
        </h3>
        <div>
            <button class="btn btn-warning " (click)="ShowCreate('AddEdit')"> {{ 'shared.add' | translate }} </button>
            <!-- <button class="btn btn-danger" (click)="alertConfirmation()">حذف جهة اتصال</button> -->
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
        <!--begin::Table container-->
        <div class="d-flex align-items-center">
            <p style="font-size: 17px;color: gray;"> {{'shared.search' | translate }} : </p>
            <input [(ngModel)]="PagingModel.Search" (change)="GetCompanyContacts()" class="form-control search" type="search" />
        </div>

        <div class="table-responsive ">
            <!--begin::Table-->
            <table class="table table-row-dashed  table-row-gray-300 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <thead>
                    <tr class="fw-bolder text-muted">
                        <th class="min-w-150px">{{'shared.nameEn' | translate }}</th>
                        <th class="min-w-150px">{{'shared.nameAr' | translate }}</th>
                        <th class="min-w-140px">{{ 'settings.company' | translate }}</th>
                        <th class="min-w-120px"> {{ 'settings.type' | translate }}</th>
                        <th class="min-w-100px text-end">{{'shared.active' | translate }}</th>
                        <th class="min-w-100px text-end">{{'settings.control' | translate }}</th>
                    </tr>
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody>
                    <tr *ngFor="let companyContact of CompanyContacts">
                        <td>
                            {{companyContact.nameEn}}
                        </td>
                        <td>
                            {{companyContact.nameAr}}
                        </td>
                        <td>
                            {{isLangAr? companyContact.companyNameAr: companyContact.companyNameEn}}
                        </td>
                        <td>
                            {{isLangAr? companyContact.contactTypeNameAr: companyContact.contactTypeNameEn}}
                        </td>
                        <td class="text-end">
                            <div class="form-check form-check-sm form-check-custom form-check-solid">
                                <input class="form-check-input widget-9-check" type="checkbox" value="1" disabled [checked]="companyContact.isActive">
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-end flex-shrink-0">

                                <a class="btn btn-icon btn-bg-light btn-primary btn-sm me-1" (click)="ShowEdit(companyContact.id,'AddEdit')">
                                    <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.3"
                                                d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
                                                fill="black"></path>
                                            <path
                                                d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
                                                fill="black"></path>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </a>
                                <a class="btn btn-icon btn-danger btn-active-color-primary btn-sm" (click)="Delete(companyContact.id)">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                                                fill="black"></path>
                                            <path opacity="0.5"
                                                d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                                                fill="black"></path>
                                            <path opacity="0.5"
                                                d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                                                fill="black"></path>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" [attr.disabled]="PagingModel.CurrentPage==1" (click)="Paging(-1)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" [class.active-pg]="PagingModel.CurrentPage==i+1" *ngFor='let in of counter(PagingModel.PagesCount) ;let i = index'>
                        <a class="page-link" (click)="Paging(i+1)">{{i+1}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" [attr.disabled]="PagingModel.CurrentPage==PagingModel.PagesCount" (click)="Paging(-1)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--end::Table container-->
    </div>
    <!--begin::Body-->
</div>
<div class="card card-xxl-stretch mb-5 mb-xl-8 animate__animated animate__zoomIn edit " *ngIf="currDiv == 'AddEdit'" style="padding: 1.3rem;">

    <div class="card-header border-0" style="margin-right: 0;">
        <h3 class="card-title fw-bolder text-dark" *ngIf="Model.id == 0"> {{ 'settings.addcontact' | translate }} </h3>
        <h3 class="card-title fw-bolder text-dark" *ngIf="Model.id > 0"> {{ 'settings.Editcontact' | translate }} </h3>
        <button class="btn btn-warning" (click)="ShowDiv('companies')">{{'shared.show' | translate }}</button>
    </div>
    <form #AddEditForm="ngForm" (ngSubmit)="Save()">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="nameEn" [class.text-danger]="nameEn.errors?.required && nameEn.touched">
                        {{'shared.nameEn' | translate }}
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" [(ngModel)]="Model.nameEn" #nameEn="ngModel" required name="nameEn" class="form-control" id="nameEn" aria-describedby="emailHelp">
                    <span class="help-block text-danger" *ngIf="nameEn.errors?.required && nameEn.touched">
                        {{'shared.nameEn-required' | translate}}
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="nameAr" [class.text-danger]="nameAr.errors?.required && nameAr.touched">
                        {{'shared.nameAr' | translate }}
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" [(ngModel)]="Model.nameAr" #nameAr="ngModel" required name="nameAr" class="form-control" id="nameAr" aria-describedby="emailHelp">
                    <span class="help-block text-danger" *ngIf="nameAr.errors?.required && nameAr.touched">
                        {{'shared.nameAr-required' | translate}}
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="details">{{ 'settings.details' | translate }} </label>
                    <textarea [(ngModel)]="Model.details" name="details" class="form-control" id="details">
                    </textarea>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label for="companyId">{{'settings.company' | translate}}</label>
                <mat-form-field appearance="fill">
                    <mat-select [(ngModel)]="Model.companyId" #companyId="ngModel" name="companyId">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let company of Companies" [value]="company.id">
                            {{ isLangAr? company.nameAr : company.nameEn}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-lg-6">
                <label for="contactTypeId">{{'settings.type' | translate}}</label>
                <mat-form-field appearance="fill">
                    <mat-select [(ngModel)]="Model.contactTypeId" #contactTypeId="ngModel" name="contactTypeId">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let contactType of ContactTypes" [value]="contactType.id">
                            {{ isLangAr? contactType.nameAr : contactType.nameEn}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <div class="form-check form-check-sm form-check-custom form-check-solid mb-3">

                    <mat-slide-toggle [(ngModel)]="Model.isActive" name="isActive"> {{'shared.active-nonactive' | translate }} </mat-slide-toggle>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="AddEditForm.invalid">{{'shared.save' | translate
            }}</button>
    </form>

</div>