<div class="login-page">
    <div class="login-design">

        <div class="row">
            <div class="col-lg-6">
                <div class="fxt-content animate__animated animate__zoomIn">
                    <div class="fxt-form ">
                        <img src="../../../assets/media/images/Logoo.png" alt="logo" class="logo" />
                        <h1 style="margin-top: 3rem;text-align: center;width: 100%;    font-size: 26px;">{{ 'settings.forgetpass' | translate }}</h1>
                        <h2 class="forget">{{ 'settings.EnterYourEmailAddress' | translate }}</h2>
                        <form method="POST">
                            <div class="form-group">
                                <label for="email" class="input-label" style="margin-top:0;">{{ 'settings.E-mail' | translate }}</label>
                                <input type="email" [(ngModel)]="username" id="email" class="form-control" name="email" placeholder="demo@gmail.com" required="required">
                            </div>  
                            <div class="form-group">
                                <button type="submit" class="fxt-btn-fill" (click)="login()" routerLink="/ver">{{ "shared.Submit" | translate }} </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <img src="../../../assets/media/images/doctoe.jpg" alt="doctor" class="doctor"/>
                <ul class="fxt-socials">
                    <li class="fxt-facebook fxt-transformY-50 fxt-transition-delay-4"><a href="#" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="fxt-twitter fxt-transformY-50 fxt-transition-delay-5"><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="fxt-google fxt-transformY-50 fxt-transition-delay-6"><a href="#" title="google"><i class="fa fa-google-plus"></i></a></li>
                    <li class="fxt-linkedin fxt-transformY-50 fxt-transition-delay-7"><a href="#" title="linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                    <li class="fxt-youtube fxt-transformY-50 fxt-transition-delay-8"><a href="#" title="youtube"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>