.navic .btn-check:active + .btn.btn-warning, .btn-check:checked + .btn.btn-warning, .btn.btn-warning.active, .btn.btn-warning.show, .btn.btn-warning:active:not(.btn-active), .btn.btn-warning:focus:not(.btn-active), .btn.btn-warning:hover:not(.btn-active), .show > .btn.btn-warning {
    color: #fff;
    border-color: #F1416C;
    background-color: #F1416C !important;
  }