p {
  font-family: Lato;
}
.login-page {
  background-image: url(../../../assets/media/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 120vh;
  min-height: 100vh;
  overflow: hidden;
}
// body {

// }
.fxt-content {
  padding: 30px;
  /* max-width: 800px; */
  width: 100%;
  padding-top:0px;
}
.card{
  font-weight: bold;
  border-radius: 17px;
  background: #F9FFF4;
}
.fxt-footer {
  text-align: center;
}
.form-group {
  position: relative;
  z-index: 1;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.form-control {
  min-height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  //   border: 0;
  //   border-bottom: 1px solid #e7e7e7;
  padding:0;
  color: #111;
}
.fxt-template-layout4 .fxt-form .form-group .field-icon {
  position: absolute;
  z-index: 1;
  right: 24px;
  bottom: 18px;
  padding: 0 5px;
  color: #c5c5c5;
  font-size: 14px;
}
.doctor {
  margin-top: 3rem;
}
.fxt-checkbox-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.checkbox {
  padding-left: 5px;
  margin-right: 30px;
  margin-bottom: 5px;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox label {
  padding-left: 20px;
  color: #a4a4a4;
  margin-bottom: 0;
  font-size: 15px;
  position: relative;
}
.checkbox label:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  right: -2rem;
  margin-left: -5px;
  border: 1px solid;
  border-color: #dcdcdc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.switcher-text {
  color: #63bbff;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-btn-fill {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 3px;
  background-color: #72C02C;
  padding: 10px 36px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-footer p {
  color: #999898;
  margin-bottom: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.switcher-text2.inline-text {
  margin-left: 3px;
}
.switcher-text2 {
  color: #63bbff;
  font-size: 15px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a {
  text-decoration: none;
}

.fxt-content[_ngcontent-epr-c108] {
  direction: rtl;
  width: 100%;
  margin: auto !important;
  margin-top: 1rem !important;
}
.fxt-form .form-group .field-icon {
  position: absolute;
  z-index: 1;
  left: 24px;
  bottom: 18px;
  padding: 0 5px;
  color: #c5c5c5;
  font-size: 17px;
  top: 3rem;
}
ul.fxt-socials {
  text-align: center;
}
.fxt-transition-delay-4 {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.fxt-transition-delay-5 {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.fxt-transformY-50 {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
ul.fxt-socials li {
  display: inline-block;
  margin-right: 4px;
}
.fxt-transition-delay-6 {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.fxt-transition-delay-7 {
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
ul.fxt-socials li:last-child {
  margin-right: 0;
}
.fxt-transition-delay-8 {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
ul.fxt-socials li.fxt-facebook a {
  background-color: #3b5998;
  border-color: #3b5998;
}
ul.fxt-socials li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  height: 40px;
  width: 40px;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
ul.fxt-socials li.fxt-twitter a {
  background-color: #00acee;
  border-color: #00acee;
}
ul.fxt-socials li.fxt-google a {
  background-color: #cc3333;
  border-color: #cc3333;
}
ul.fxt-socials li.fxt-linkedin a {
  background-color: #0077b5;
  border-color: #0077b5;
}
ul.fxt-socials li.fxt-youtube a {
  background-color: #c4302b;
  border-color: #c4302b;
}
li.fxt-facebook a:hover {
  background-color: transparent;
  color: #3b5998;
  border-color: #3b5998;
}
ul.fxt-socials li.fxt-twitter a:hover {
  background-color: transparent;
  color: #00acee;
  border-color: #00acee;
}
ul.fxt-socials li.fxt-google a:hover {
  background-color: transparent;
  color: #cc3333;
  border-color: #cc3333;
}
ul.fxt-socials li.fxt-linkedin a:hover {
  background-color: transparent;
  color: #0077b5;
  border-color: #0077b5;
}
ul.fxt-socials li.fxt-youtube a:hover {
  background-color: transparent;
  color: #c4302b;
  border-color: #c4302b;
}
ul.fxt-socials li.fxt-facebook a:hover {
  background-color: transparent;
  color: #3b5998;
  border-color: #3b5998;
}
.fxt-socials {
  position: absolute;
  bottom: 5rem;
  text-align: center;
  margin-left: 8rem;
}
.form-check .form-check-input {
  float: right;
  /* margin-left: -1.5
em
; */
  margin-left: 7px;
  /* color: ghostwhite; */
}
.form-check-label{
    color:#999898 ;
}
.logo{
    margin-bottom: 1.5rem;
    display: block;
    margin: auto;
    width: 44%;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
mat-step-header .mat-step-label {
  overflow: visible;
}

mat-step-header .mat-step-icon-not-touched span,
mat-step-header .mat-step-icon span,
mat-step-header .mat-step-icon-not-touched .mat-icon,
mat-step-header .mat-step-icon .mat-icon {
display: none;
}

mat-step-header:nth-of-type(1) .mat-step-icon-not-touched:after,
mat-step-header:nth-of-type(1) .mat-step-icon:after {
content: 'New 1';
}

.active-step-1 mat-step-header:nth-of-type(1) .mat-step-icon-not-touched::after,
.active-step-1 mat-step-header:nth-of-type(1) .mat-step-icon::after {
content: 'add_circle' !important; /* name of the material icon */
font-family: 'Material Icons' !important;
font-feature-settings: 'liga' 1;
}

::ng-deep { .mat-stepper-horizontal-line {
border-top-width: 1px;
border-top-style: solid;
flex: auto;
height: 0;
// margin:0!important;
min-width: 32px;
}
.mat-horizontal-stepper-header .mat-step-icon {
margin-right: 58px!important;
flex: none;
}
.mat-step-icon {
border-radius: 50%;
height: 30px!important;
width: 30px!important;
flex-shrink: 0;
position: relative;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
background-color: #02CC66!important;
color: white;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mat-form-field-infix {
padding: 0.5em 0;
border-top: none!important;
}
.mat-form-field-wrapper {
padding-bottom: 0;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
padding: 0;
}
.mat-form-field {
margin-top: 0px!important;
}
#cdk-step-content-0-0 > button.mat-stepper-next.btn.btn-primary.ng-star-inserted{
margin-left: .5rem!important;
}
.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover:not([aria-disabled]), .mat-step-header:hover[aria-disabled=false] {
background: none!important;
}
.mat-form-field-infix {

width: 100%!important;
}


#cdk-step-content-0-1 > button.mat-stepper-next.btn.btn-primary.ng-star-inserted{
margin-left: .5rem;
}
#cdk-step-content-0-2 > button.mat-stepper-next.btn.btn-success.ng-star-inserted{
margin-left: .5rem;

}
h2{
border-bottom: 2px solid #02CC66;
// width: 15%;
    margin-bottom: 1.5rem;
}

}
::ng-deep .mat-form-field-underline {
display: none;
}
::ng-deep .mat-form-field {

margin-top: 0px!important;
}
.container > div:nth-child(2) > div > form > div > div:nth-child(7) > div > label{
margin-top: .5rem;
}
.top{
  margin-top: .5rem;
}
.controls{
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.logo {
margin-bottom: 1.5rem;
display: block;
margin: auto;
width: 26% !important;}

.mat-form-field{
width: 100%;
}
.fxt-content{

direction: rtl!important;
}
label{
font-size: 16px;
}
body{
  background: #72c02cb0!important;
}
.flex-row-fluid {
  flex: 1 auto;
  min-width: 0;
}

.home-cards img{
  width: 95%;
}
h3{
  font-family: cairo;
  font-weight: bold;
}
a{
cursor: pointer;
font-size: 18px;
}

h2{
  font-family: cairo;
  font-weight: bold;
}
p{
  font-family: cairo;
  font-weight: bold;
  line-height: 29px;
  word-spacing: 3px;
}
.fa-paw:before {
  content: "";
  color: gray;
  font-size: 23px;
}
i{
  color: gray;
  font-size: 23px;
}
li{
  list-style-type: none;
  font-weight: bold;
}
.home-data.mt-4 > div > div:nth-child(2) > div > div > p:nth-child(3) > a{
  font-size: 15px;
}
.animate__zoomIn{
  animation-delay: .5s;
  animation: zoomIn 1s;
}
.animate__backInRight{
  animation-delay: .6s;

  animation: backInRight 1s;
}
.animate__backInUp{
  animation-delay: .7s;

  animation: backInUp 1s;

}
.controls{
  justify-content: space-between;
  margin-top: 1rem!important;
  margin-bottom: 1rem;
}
h2 {
  border-bottom: 2px solid #02CC66;
  // width: 10%;
  /* margin-bottom: 1.5rem; */
  padding-bottom: 0.3rem;
}
.btn-warning {
  color: white!important;
  background-color: #ffc107;
  border-color: #ffc107;
  font-weight: bold;
  height: 88%;
}
.btn-primary{
  font-weight: bold;
}
.card{
  padding: 1rem;
}