.svg-icon.svg-icon-lg-2x svg {
    height: 3rem !important;
    width: 2.6rem !important;
}
.pb-lg-13 {
    padding-bottom: 1.25rem !important;
}
#kt_aside_footer > div > button > span > svg{
    height: 2.75rem !important;
    width: 2.3rem !important;
}
::ng-deep .pb-lg-13 {
    padding-bottom: 2.25rem !important;
}
::ng-deep .py-lg-5 {
    padding-top: 1rem !important;
    padding-bottom: 0rem !important;
}