<div
  class="card card-xxl-stretch mb-5 mb-xl-8 animate__animated animate__zoomIn"
  *ngIf="currDiv == 'generics'"
>
  <!--begin::Header-->
  <div
    class="card-header align-items-center d-flex border-0 pt-5"
    style="margin-left: 1rem; margin-top: 1rem"
  >
    <h3 class="card-title d align-items-center flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">{{ 'settings.generalDetails' | translate }}</span>
    </h3>
    <div></div>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body py-3">
    <!--begin::Table container-->
   
    <form>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="exampleInputEmail1">{{'shared.name' | translate }}</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
              <label for="exampleInputEmail1">{{'shared.description' | translate }}</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
          </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="exampleInputEmail1">{{ 'settings.Categore' | translate }}</label>
            <mat-form-field appearance="fill">
                <mat-select [formControl]="animalControl" required>
                  <mat-option>--</mat-option>
                  <mat-option
                    *ngFor="let animal of animals"
                    [value]="animal"
                  >
                    {{ animal.name }}
                  </mat-option>
                </mat-select>
      
              </mat-form-field>
          </div>
          <div
            class="
              form-check form-check-sm form-check-custom form-check-solid
              mb-3
            "
          >
            <mat-slide-toggle> {{ 'settings.UseTheBatchNumber' | translate }}   </mat-slide-toggle>
          </div>
          <div
          class="
            form-check form-check-sm form-check-custom form-check-solid
            mb-3
            mt-3
          "
        >
          <mat-slide-toggle>{{'shared.active-nonactive' | translate }}  </mat-slide-toggle>
        </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="exampleInputEmail1">{{ 'settings.SmallestUnitOfMeasure' | translate }}  </label>
            <mat-form-field appearance="fill">
                <mat-select [formControl]="animalControl" required>
                  <mat-option>--</mat-option>
                  <mat-option
                    *ngFor="let animal of animals"
                    [value]="animal"
                  >
                    {{ animal.name }}
                  </mat-option>
                </mat-select>
      
              </mat-form-field>
          </div>
          <div
            class="
              form-check form-check-sm form-check-custom form-check-solid
              mb-3
            "
          >
            <mat-slide-toggle>{{ 'settings.UseTheExpirationDate' | translate }} </mat-slide-toggle>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3 mb-3">{{'shared.search' | translate }}</button>
    </form>

    <!--end::Table container-->
  </div>
  <!--begin::Body-->
</div>

